
<!DOCTYPE html>
<html>
<head>
	<title>game</title>
	<meta name="HandheldFriendly" content="true" />
    <meta id="viewp" name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- SCRIPTS & STYLESHEET-->
	<script src='js/internal/misc/util.js' type="text/javascript"></script>
	<script type='text/javascript' src='../../../libs/jquery.min.js' charset="utf-8"></script>
	<script src='js/internal/misc/visualObjects.js' type="text/javascript"></script>
	<script src='js/internal/misc/images.js' type="text/javascript"></script>

	<script src='js/internal/misc/inputHandler.js' type="text/javascript"></script>
	<script src='./js/master.js' type="text/javascript"></script>
	<!--<link href='http://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css'>-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- LOOPS CREATORS & LOOP COLLECTION -->
	<!--	utils	-->
	<script src='js/internal/loops/Loop.js' type="text/javascript"></script>

	<script src='js/internal/input/InputMapping.js' type="text/javascript"></script>
	<script src='js/internal/random/RandomUtils.js' type="text/javascript"></script>
	<script src='js/internal/events/collision/DeathEvent.js' type="text/javascript"></script>
	<script src='js/internal/events/collision/ChangeValueEvent.js' type="text/javascript"></script>
	<script src='js/internal/generators/TimedGenerator.js' type="text/javascript"></script>

	<script src='js/internal/dynamics/Acceleration.js' type="text/javascript"></script>
	<script src='js/internal/collections/Collection.js' type="text/javascript"></script>
	<script src='js/internal/actions/ActionWithCooldown.js' type="text/javascript"></script>

	<!--	objects	-->
	<script src='js/internal/objects/DynamicObject.js' type="text/javascript"></script>
	<script src='js/internal/objects/StaticObject.js' type="text/javascript"></script>

	<script src='js/objects/common/Bullet.js' type="text/javascript"></script>
	<script src='js/objects/terrain/Terrain.js' type="text/javascript"></script>
	<script src='js/objects/player/Player.js' type="text/javascript"></script>
	<script src='js/objects/enemy/EnemyShip.js' type="text/javascript"></script>


	<script src='js/loops/StageSelect/StageSelectCreators.js' type="text/javascript"></script>
    <script src='js/loops/StageSelect/StageSelectLoop.js' type="text/javascript"></script>

    <script src='js/loops/Stage/StageCreators.js' type="text/javascript"></script>
    <script src='js/loops/Stage/StageLoop.js' type="text/javascript"></script>

    <script src='js/loops/LoopCollection.js' type="text/javascript"></script>

</head>
<body id = 'gamebody'  >
	<script>
	//REMOVE RIGHT CLICK MENU POPUP
	document.oncontextmenu =function  () {
	return false;
	};
	//END
            var width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
            viewport = document.getElementById("viewp");
            //console.log((width/400))
            viewport.setAttribute('content', 'width=device-width, initial-scale='+(width/420)+', user-scalable=0');

            //window.localStorage.setItem("key", "value2");
            //var value = window.localStorage.getItem("key");
    </script>
    <canvas style='position:absolute;border: 1px solid black; -webkit-user-select: none; -ms-user-select: none; -moz-user-select: none; user-select: none; ' id = 'gamecanvas' width="600" height="400" ></canvas>
    <canvas style='position:absolute;border: 1px solid black; -webkit-user-select: none; -ms-user-select: none; -moz-user-select: none; user-select: none; ' id = 'gamecanvas2' width="600" height="400" ></canvas>


	<!-- MENU -->

	<!-- END MENU -->

	<!-- GAME -->

	<!--<div id ='game_bg'></div> -->
	<!-- END GAME -->
</body>
</html>
